<div id="pageTop"><div class="wrap"><a href="#header"><span>TOP</span></a></div></div>

<div id="footer_wrap" class="wrap">

<nav id="foot_nav" class="pc">
<ul class="ns cf">
<li>
<strong>About ABCI</strong>
<a href="{{ dir }}/en/about_abci/">About ABCI</a>
<a href="{{ dir }}/en/about_abci/leadership.html">LEADERSHIP</a>
<a href="{{ dir }}/en/about_abci/computing_resource.html">COMPUTING RESOURCES</a>
<a href="{{ dir }}/en/about_abci/datacenter_facility.html">DATA CENTER</a>
<a href="{{ dir }}/en/about_abci/software.html">SOFTWARE STACK</a>
<a href="{{ dir }}/en/about_abci/cloud_service.html">CLOUD SERVICE</a>
<a href="{{ dir }}/en/about_abci/info.html">OPERATION STATUS</a>

</li>
<li>
<strong>How to Use ABCI</strong>
<a href="{{ dir }}/en/how_to_use/">APPLICATION PROCEDURE</a>
<a href="{{ dir }}/en/how_to_use/tariffs.html">ABCI USAGE FEES</a>
<a href="{{ dir }}/en/how_to_use/user_support.html">CUSTOMER SUPPORT</a>
<a href="{{ dir }}/en/how_to_use/faq.html">FAQ</a>
</li>
<li>
<strong>RESEARCH</strong>
<a href="https://unit.aist.go.jp/rwbc-oil/index-en.html" target="_blank">RWBC-OIL</a>
<a href="https://www.airc.aist.go.jp/en/" target="_blank">AIRC</a>
<a href="https://www.aist.go.jp/index_en.html" target="_blank">AIST</a>
</li>
<li>
<strong>EVENTS</strong>
<a href="{{ dir }}/en/event/">EVENTS ARCHIVE</a>
</li>
<li>
<strong>NEWS</strong>
<a href="{{ dir }}/en/news/">NEWS ARCHIVE</a>
</li>
<li class="x">
<a href="{{ dir }}/en/how_to_use/user_support.html">CONTACTS</a>
<!-- <a href="{{ dir }}/en/privacy_policy/">PRIVACY POLICY</a> -->
</li></ul>
</nav>

<p>Copyright ©National Institute of Advanced Industrial Science and Technology(AIST)(Japan Corporate Number 7010005005425). All rights reserved.</p>
<div id="footer_bottom">
<a href="https://www.aist.go.jp/" target="_blank"><img src="{{ dir }}/img/en_foot_logo.png" /></a>
</div>

</div>
