<ul class="ns cf">
<li><a href="{{ dir }}/"><img src="{{ dir }}/img/icon/home.png" alt="HOME" class="pc" /><span class="sp">HOME</span></a></li>
<li class="{{ nav_about_abci }}">
<strong>About ABCI</strong>
<ul class="ns">
<li><a href="{{ dir }}/en/about_abci/">About ABCI</a></li>
<li><a href="{{ dir }}/en/about_abci/leadership.html">LEADERSHIP</a></li>
<li><a href="{{ dir }}/en/about_abci/computing_resource.html">COMPUTING RESOURCES</a></li>
<li><a href="{{ dir }}/en/about_abci/datacenter_facility.html">DATA CENTER</a></li>
<li><a href="{{ dir }}/en/about_abci/software.html">SOFTWARE STACK</a></li>
<li><a href="{{ dir }}/en/about_abci/cloud_service.html">CLOUD SERVICE</a></li>
<li><a href="{{ dir }}/en/about_abci/info.html">OPERATION STATUS</a></li>

</ul>
</li>

<li class="{{ nav_how_to_use }}">
<strong>How to Use ABCI</strong>
<ul class="ns">
<li><a href="{{ dir }}/en/how_to_use/">APPLICATION PROCEDURE</a></li>
<li><a href="{{ dir }}/en/how_to_use/tariffs.html">ABCI USAGE FEES</a></li>
<li><a href="{{ dir }}/en/how_to_use/user_support.html">CUSTOMER SUPPORT</a></li>
<li><a href="{{ dir }}/en/how_to_use/faq.html">FAQ</a></li>
</ul>
</li>
<li>
<strong>RESEARCH</strong>
<ul class="ns">
<li><a href="https://unit.aist.go.jp/rwbc-oil/index-en.html" target="_blank">RWBC-OIL</a></li>
<li><a href="https://www.airc.aist.go.jp/en/" target="_blank">AIRC</a></li>
<li><a href="https://www.aist.go.jp/index_en.html" target="_blank">AIST</a></li>
</ul>
</li>
<li class="{{ nav_event }}">
<strong>EVENTS</strong>
<ul class="ns">
<li><a href="{{ dir }}/en/event/">EVENTS ARCHIVE</a></li>
</ul>
</li>
<li class="{{ nav_news }}">
<strong>NEWS</strong>
<ul class="ns">
<li><a href="{{ dir }}/en/news/">NEWS ARCHIVE</a></li>
</ul>
</li>
<li class="sp">
<strong>PRIVACY POLICY</strong>
<ul class="ns">
<li><a href="{{ dir }}/en/privacy_policy/">PRIVACY POLICY</a></li>
</ul>
</li>
</ul>
</nav>

<div id="header_top">
<ul class="ns">
<li><form id="search" onsubmit="google_search(); return false;"> <input id="google-search" placeholder="ABCI Grand Challenge" type="text"><input type="submit" value="" id="serach_btn" onclick="onClik();"></form></li>
<li id="top_contact"><a href="{{ dir }}/en/how_to_use/user_support.html"><span></span><strong>CONTACTS</strong></a></li>
<li class="change_language sp"><a href="{{ dir }}/ja/">日本語</a><span>English</span></li>

</ul>
</div>
<nav id="change_language" class="pc">
<ul class="ns">
<li><a href="{{ dir }}/ja/">日本語</a></li>
<li>&nbsp;/&nbsp;English</li>
</ul>
