<a href="../../en/about_abci/" class="{{ side_menu_about_abci_index }}"><span>About ABCI</span></a>
<a href="../../en/about_abci/leadership.html" class="{{ side_menu_about_abci_leadership }}"><span>LEADERSHIP</span></a>
<a href="../../en/about_abci/computing_resource.html" class="{{ side_menu_about_abci_computing_resource }}"><span>COMPUTING RESOURCES</span></a>
<a href="../../en/about_abci/datacenter_facility.html" class="{{ side_menu_about_abci_datacenter_facility }}"><span>DATA CENTER</span></a>
<a href="../../en/about_abci/software.html" class="{{ side_menu_about_abci_software }}"><span>SOFTWARE STACK</span></a>
<a href="../../en/about_abci/cloud_service.html" class="{{ side_menu_about_abci_cloud_service }}"><span>CLOUD SERVICE</span></a>
<a href="../../en/about_abci/info.html" class="{{ side_menu_about_abci_info }}"><span>OPERATION STATUS</span></a>
