<div id="pageTop"><div class="wrap"><a href="#header"><span>TOP</span></a></div></div>

<div id="footer_wrap" class="wrap">

<nav id="foot_nav" class="pc">
<ul class="ns cf">
<li>
<strong>ABCIについて</strong>
<a href="{{ dir }}/ja/about_abci/">ABCIとは</a>
<a href="{{ dir }}/ja/about_abci/leadership.html">リーダーシップ</a>
<a href="{{ dir }}/ja/about_abci/computing_resource.html">計算資源</a>
<a href="{{ dir }}/ja/about_abci/datacenter_facility.html">データセンター</a>
<a href="{{ dir }}/ja/about_abci/software.html">ソフトウェアスタック</a>
<a href="{{ dir }}/ja/about_abci/cloud_service.html">クラウドサービス</a>
<a href="{{ dir }}/ja/about_abci/info.html">運転状況</a>

</li>
<li>
<strong>ABCIのご利用方法</strong>
<a href="{{ dir }}/ja/how_to_use/">ご利用申込み方法</a>
<a href="{{ dir }}/ja/how_to_use/tariffs.html">ご利用料金</a>
<a href="{{ dir }}/ja/how_to_use/user_support.html">ユーザーサポート</a>
<a href="{{ dir }}/ja/how_to_use/faq.html">FAQ</a>
</li>
<li>
<strong>リサーチ</strong>
<a href="https://unit.aist.go.jp/rwbc-oil/" target="_blank">RWBC-OIL</a>
<a href="https://www.airc.aist.go.jp/" target="_blank">AIRC</a>
<a href="https://www.aist.go.jp/" target="_blank">AIST</a>
</li>
<li>
<strong>イベント情報</strong>
<a href="{{ dir }}/ja/event/">イベント情報アーカイブ</a>
</li>
<li>
<strong>ニュース</strong>
<a href="{{ dir }}/ja/news/">ニュース一覧</a>
</li>
<li class="x">
<a href="{{ dir }}/ja/how_to_use/user_support.html">お問い合わせ先</a>
<a href="{{ dir }}/ja/privacy_policy/">プライバシーポリシー</a>
</li></ul>
</nav>

<p>Copyright ©National Institute of Advanced Industrial Science and Technology(AIST)(Japan Corporate Number 7010005005425). All rights reserved.</p>
<div id="footer_bottom">
<a href="https://www.aist.go.jp/" target="_blank"><img src="{{ dir }}/img/foot_logo.png" /></a>
</div>

</div>
