<a href="../../ja/about_abci/" class="{{ side_menu_about_abci_index }}"><span>ABCIとは</span></a>
<a href="../../ja/about_abci/leadership.html" class="{{ side_menu_about_abci_leadership }}"><span>リーダーシップ</span></a>
<a href="../../ja/about_abci/computing_resource.html" class="{{ side_menu_about_abci_computing_resource }}"><span>計算資源</span></a>
<a href="../../ja/about_abci/datacenter_facility.html" class="{{ side_menu_about_abci_datacenter_facility }}"><span>データセンター</span></a>
<a href="../../ja/about_abci/software.html" class="{{ side_menu_about_abci_software }}"><span>ソフトウェアスタック</span></a>
<a href="../../ja/about_abci/cloud_service.html" class="{{ side_menu_about_abci_cloud_service }}"><span>クラウドサービス</span></a>
<a href="../../ja/about_abci/info.html" class="{{ side_menu_about_abci_info }}"><span>運転状況</span></a>
